* {
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
/* ДОБАВИТЬ!! */
  .list { 
    list-style: none;
  }

  /* .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section {
    width: 50%;
  } */