* {
  box-sizing: border-box;
  }

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  box-shadow: 10px 5px 5px #d8aee6;
}

.photo {
  width: 250px;
  margin-top: 20px;
}

.none-list {
  list-style: none;
}

.main {
  margin: auto;
}

.description {
  display: flex;
  align-items: baseline;
  border-top: 1px solid black;
}

.table_1 {
  width: 188px;
}

.table_2 {
  max-width: 550px;
}

.header-1 {
  width: 1440px;;
}

.first {
  margin-right: 20px;
  padding-left: 23px;
  padding-bottom: 20px;
  width: 650px;
  background-color:#d8aee6;
}

.title-text2, .title-text1 {
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #700e91;
  text-align: center;
}

.section-title {
  font-size: 20px;
  text-transform: uppercase;
  color: #700e91;
}

.code {
  padding-bottom: 10px;
}

.nav-link {
  font-size: 21px;
  text-decoration: none;
}

.text-contacts {
  font-size: 18px;
  color: #700e91;
  text-decoration: none;
}
.contact, .nav-list  {
  padding: 0;
}

.Skills, .list-courses, .list-lang {
  padding-left: 17px;
  color: #700e91;
}

.code {
  color: #700e91;
}

.text_myself {
  color: #700e91;
  width: 70%;
  font-size: 16px;
}

.list-text {
  color: #700e91;
  font-size: 16px;
}

.bold {
  font-weight: bold;
}

.ref-text {
  color: #700e91;
  font-size: 16px;
}

.logo-rs, .logo-git {
  margin-top: 7px;
  width: 150px;
}

.text-footer {
  padding-top: 35px;
}